<ion-view view-title="inicial">
        <ion-content class="login">

              <div class="bar bar-header item-input-inset">
  <label class="item-input-wrapper">
    <i class="icon ion-ios-search ion-android-search"></i>
    <input type="search" placeholder="Procurar evento">
  </label>
  <button class="button button-clear">
    Cancel
  </button>
</div>
               <div class="list card">

  <a href="#/organizador" class="item item-icon-left">
    <i class="icon ion-ios-home"></i>
    organizador
  </a>

  <a href="#/calendario" class="item item-icon-left">
    <i class="icon ion-android-calendar"></i>
    calendario
  </a>

  <a href="#/informacoes" class="item item-icon-left">
    <i class="icon ion-ios-help"></i>
    informações
  </a>

  <a href="#/sair" class="item item-icon-left">
    <i class="icon ion-android-cancel"></i>
    sair
  </a>

</div>


      </button>
      </ion-content>

</ion-view>
