<ion-view view-title="inicial">
        <ion-content class="login">
              <div class="bar bar-header item-input-inset">
  <label class="item-input-wrapper">
    <i class="icon ion-ios-search placeholder-icon"></i>
    <input type="search" placeholder="Procurar evento">
  </label>
  <button class="button button-clear">
    Cancel
  </button>
</div>
               <div class="list card">

  <a href="#" class="item item-icon-left">
    <i class="icon ion-home"></i>
    organizador
  </a>

  <a href="#" class="item item-icon-left">
    <i class="icon ion-ios-telephone"></i>
    calendario
  </a>

  <a href="#" class="item item-icon-left">
    <i class="icon ion-wifi"></i>
    informações
  </a>

  <a href="#" class="item item-icon-left">
    <i class="icon ion-card"></i>
    sair
  </a>

</div>


      </button>
      </ion-content>

</ion-view>
