        <ion-view view-title="inicial">
                <ion-content class="titulo">
                   <div class="tela-inicial">

                      <div class="list">

          <a href="#/organizador" class="item item-icon-left" style="background: transparent; color: white;">
            <i class="icon ion-home"></i>
            organizador
          </a>

          <a href="#/calendario" class="item item-icon-left" style="background: transparent; color: white;">
            <i class="icon ion-android-calendar"></i>
            calendario
          </a>

          <a href="#/informacoes" class="item item-icon-left" style="background: transparent; color: white;">
            <i class="icon ion-ios-help"></i>
            informações
          </a>

          <a href="#/sair" class="item item-icon-left" style="background: transparent; color: white;">
            <i class="icon ion-android-cancel"></i>
            sair
          </a>

        </div>
        </div>

              </button>
              </ion-content>

        </ion-view>
           