<ion-view view-title="inicial">
    <ion-content class="titulo">
      <div class="tela-login">

              <br />
        <h2 style="margin-top: 30px;"> RacingCuiaba</h2>


              <div class="list" style="margin-top: 50%;">

                  <label class="item item-input" style="background: transparent; color: white;" >

                    <span class="input-label" style="color: white;">Nome</span>

                        <input type="text" style="color: white;" >

                        </label>
                    
                        <label class="item item-input" style="background: transparent; color: white;" >

                        <span class="input-label" style="color: white;" >senha</span> 

                      <input type="password" style="color: white;">

                      </label>

            <button class="button bar button-positive">Entrar</button>

        </div>           

      </div>
                            




        </ion-content>
</ion-view> 