<ion-view view-title="Opções">


  <ion-content>

    <ion-list>

    <ion-toggle  ng-model="settings.enableFriends">
        
    </ion-toggle>

    <button class="button">
  HOME
</button>

<button class="button button-light">
  CALENDARIO
</button>

<button class="button button-stable">
  RESULTADO
</button>

<button class="button button-positive">
  ORGANIZADOR
</button>

<button class="button button-calm">
  AJUDA
</button>

<button class="button button-balanced">
  DESTAQUE
</button>

</button>
    </ion-list>

  </ion-content>
</ion-view>
