
<ion-tabs class="tabs-icon-top tabs-color-active-positive">
  

 
  <ion-tab title="LOGIN" icon-off="ion-ios-pulse" icon-on="ion-ios-keypad" href="#/tab/dash">
    <ion-nav-view name="tab-dash"></ion-nav-view>
       
  </ion-tab>

 
  <ion-tab title="inscrições" icon-off="ion-ios-chatboxes-outline" icon-on="ion-person-stalker" href="#/tab/chats">
    <ion-nav-view name="tab-chat"></ion-nav-view>
      
      </ion-tab>

  
  <ion-tab title="Opções" icon-off="ion-ios-gear-outline" icon-on="ion-navicon-round" href="#/tab/account">
    <ion-nav-view name="tab-account"></ion-nav-view>
  </ion-tab>


</ion-tabs>

