<ion-view view-title="LOGIN">

  <ion-content class="inicial">

    <h2>RacingCuiaba</h2>


<div class="list">
  <label class="item item-input item-floating-label">
    <span class="input-label">First Name</span>
    <input type="text" placeholder="NOME">
  </label>
  <label class="item item-input item-floating-label">
    <span class="input-label">Last Name</span>
    <input type="text" placeholder="EQUIPE">
  </label>
  <label class="item item-input item-floating-label">
    <span class="input-label">Email</span>
    <input type="text" placeholder="Email">
  </label>
</div>



  </ion-content>
</ion-view>
