.tela-login {
background-image: url("../img/corrida.jpg");
height: 100%;
background-repeat:  no-repeat;
background-size: cover;

}

.tela-inicial {
background-image: url("../img/corrida.jpg");
height: 100%;
background-repeat: no-repeat;
background-size: cover;

}